<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-thermal-printer"
        version="1.0.0">

    <name>Thermal Printer Plugin</name>
    <description>Cordova Plugin for Universal Thermal Printer Support</description>
    <license>MIT</license>

    <js-module src="www/thermal-printer.js" name="ThermalPrinter">
        <clobbers target="thermalPrinter" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ThermalPrinter">
                <param name="android-package" value="com.thermal.printer.ThermalPrinter"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/ThermalPrinter.java"
                     target-dir="src/com/thermal/printer" />
    </platform>
</plugin>