<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-pos-printer"
        version="1.0.0">
    
    <name>POS Printer Plugin</name>
    <description>Cordova Plugin for POS Thermal Printer Integration</description>
    <license>MIT</license>
    
    <js-module src="www/printer.js" name="PosPrinter">
        <clobbers target="androidPrinter" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PosPrinter">
                <param name="android-package" value="com.pos.printer.PosPrinter"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <service android:name="net.posprinter.service.PosprinterService" />
        </config-file>

        <uses-feature android:required="true" android:name="android.hardware.usb.host" />
        <uses-permission android:name="android.hardware.usb.UsbAccessory" />

        <source-file src="src/android/PosPrinter.java" 
                     target-dir="src/com/pos/printer" />

        <lib-file src="src/android/libs/PosPrinterSDK.jar" 
                  target-dir="libs" />
    </platform>
</plugin>